.logo{
    width: 1460px;
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    padding: 0 230px;
}

.logo-image {
    width: 216px;
    height: 33px;
    margin-top: 46px;
    margin-bottom: 128px;
}

.logo-phone {
    width: 218px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #E4B564;
    display: block;
    text-align: center;
    margin-top: 36px;
}

.logo-phone-call {
    text-decoration: none;
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px; 
    margin-left: 8px;
}

.works, .cars {
    width: 1460px;
    background-color: #171717;
    color: #FFFFFF;
    padding: 0 230px;
}

.works-title{
    width: 599px;
    height: 28px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 41px;
}

.works-content {
    width: 1182px;
    height: 56px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 41px;
}

.works-wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(220px, auto));
    gap: 28px 30px;
    grid-template-areas: 
    "item1 item1 item2 item2 item3 item3"
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5"
    "item4 item4 item4 item5 item5 item5";
    
    padding-bottom: 161px;
}

.works-wrapper > li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    font-size: 20px;
    padding-left: 0;
}

.works-card-1{
    background-color: #634F2C;
    grid-area: item1;  
}

.works-card-2{
    background-color: #B4A385;
    grid-area: item2;
}

.works-card-3{
    background-color: #E4B564;
    grid-area: item3;
}

.works-card-4{
    background-color: #635A4A;
    grid-area: item4;
}

.works-card-5{
    background-color: #B08C4D;
    grid-area: item5;
}

.cars-title {
    width: 977px;
    height: 28px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 94px;
}

.cars-wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, minmax(100px, auto));
    gap: 26px 30px;
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item1 item1 item2 item2 item3 item3"
    "item5 item5 item2 item2 item4 item4"
    "item5 item5 item6 item6 item4 item4"
    "item5 item5 item6 item6 item7 item7"
    "item5 item5 item6 item6 item7 item7";

    padding-bottom: 200px;
}

.cars-wrapper > li {
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    padding-left: 52px;
    padding-top: 40px;     
}
.cars-card-1 {
    background-color: #0E0E0E;
    grid-area: item1;
}

.cars-card-2 {
    background-color: #242424;  
    grid-area: item2; 
}

.cars-card-3 {
    background-color: #1F1F1F;
    grid-area: item3;
}

.cars-card-4 {
    background-color: #0E0E0E;
    grid-area: item4;
}

.cars-card-5 {
    background-color: #1F1F1F;
    grid-area: item5;
}

.cars-card-6 {
    background-color: #E4B564;
    grid-area: item6;
    color: #000000;
}

.cars-card-7 {
    background-color: #0A0909;
    grid-area: item7;
    font-weight: 700;
}

.clients {
    width: 1460px;
    background-color: #0E0E0E;
    color: #FFFFFF;
    padding: 0 230px;
    padding-bottom: 238px;
}

.clients-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 172px;
    margin-bottom: 72px;
}

.clients-title {
    width: 597px;
    height: 28px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.clients-btn{
    border: 1px solid #E4B564;
    width: 180px;
    height: 50px;
}

.clients-btn-all{
    text-decoration: none;
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
    display: block;
    text-align: center;     
}


.wrapper-company{
    display: grid;
    grid-template-columns: repeat(3, minmax(470px, auto));
    grid-template-rows: repeat(2, minmax(390px, auto)); 
}

.wrapper-company > li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

.company-card-1{
    background-color: #634F2C;
}

.company-card-2{
    background-color: #E8D2AB;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.company-card-3{
    background-color: #E4B564;
}

.company-card-4{
    background-color: #635A4A;
}

.company-card-5{
    background-color: #B08C4D;
}

.company-card-6{
    background-color: #634F2C;
}
